<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My_Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<h2>Users</h2>
<table class = "table table-success table-striped">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        <th scope="col">Password</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
    </tr>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getPassword()}"/>
<!--        <td th:text="${user.roles}"/>-->
        <td th:each="role : ${user.getRoles()}">
            <th:block th:text="${role.getName()}"></th:block>
        </td>
        <td>
            <a th:href="@{/admin/{id}/edit(id=${user.getId()})}"> edit </a>
            <form th:method="DELETE" th:action="@{/admin/{id}/(id=${user.getId()})}">
                <input type="submit" value="delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/admin/new"><input type="submit" value="add"></a>
<br/>
<br/>
<a th:href="@{/logout}">
    <input type="submit" value="EXIT">
</a>
</body>
</html>